{% include 'blog/base.html' %}
{% block content %}


{% for race in races %}
<article class="race-section">
        <a class="join-race" href="acmanager://race/online?ip=3.86.108.20&port=9600&httpPort=8081&car={{race.car.in_game_name}}" target="_blank">Join</a>
        
        {% if race.race_bool %}
            <p>{{ race.name }}|{{ race.track }}|{{ race.car }}|{{ race.time|date:'h m' }}</p>
            
        {% else %}
            <p>{{ race.name }}|{{ race.track }}|{{ race.car }}|{{ race.time|date:'h m' }}</p>
        {% endif %}
    </article>
{% endfor %}

{% endblock content%}