* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url("/static/images/background1.jpg");
    font-family: "Lato";
    display: flex;
}

.sidebar {
    background-color: orange;
    height: 100vh;
    width: 20vw;
    opacity: 95%;
    display: block;
    text-align: center;
    white-space: nowrap;
}

.pfp-container {
    padding: 1rem;
    width: inherit;
    height: auto;
    margin-bottom: 1rem;
}

.pfp {
    border-radius: 50%;
    width: 10vw;
}

.btn{
    background-color: white;
    color: black;
    border: 2px black;
    transition: 0.6s ease;
    padding: 8px;
    border-radius: 5%;
    font-size: 1vw;
  }

.btn:hover{
    background-color: rgb(255, 153, 0);
    transition: 0.6s ease;
    border-color: orange;
    color: white;  
}

.race-container {
    float: right;
    width: 80vw;
    height: 100vh;
    background:rgba(0, 0, 0, 0.3)
}

.banner {
    height: 90vh;
    width: 15vw;
    margin: 2rem;
    border-bottom-left-radius: 3vw;
    border-top-right-radius: 3vw;
    background-image: url("/static/images/VERTICALBANNER.PNG");
    background-size: cover;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: 0.2s ease;
    text-align: center;

}

.banner:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transition: 0.6s ease;
}

.trackinfo{
    padding-top: 5vh;
    color: white;
    font-size: 1.3vw;
    font-weight: bold;
}

.trackimg {
    width: 90%;
    margin-top: 3vh;
}

.carimg {
    width: 60%;
    margin-top: 3vh;
}

.carinfo {
    padding-top: 3vh;
    color: white;
    font-size: 1.3vw;
    font-weight: bold;
}

.register {
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 3vw;
    border-top-right-radius: 3vw;
    background-color: red;
    width: 100%;
    height: 5vh;
    color: white;
    font-size: 2vw;
    opacity: 0.9;
}

.register:hover {
    opacity: 1;
    box-shadow: 0 0 10px 1px red;
}

.sessioninfo {
    margin-top: 5vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 100%;
    height: auto;
    background-color: rgba(255, 73, 73, 0.527);
    color: white;
}